! special
*.foreground:   #e0e0e0
*.background:   #2c2f37
*.cursorColor:  #e0e0e0

! black
*.color0:       #2c2f37
*.color8:       #9c9c9c

! red
*.color1:       #336159
*.color9:       #336159

! green
*.color2:       #50665c
*.color10:      #50665c

! yellow
*.color3:       #658875
*.color11:      #658875

! blue
*.color4:       #61827c
*.color12:      #61827c

! magenta
*.color5:       #6a938b
*.color13:      #6a938b

! cyan
*.color6:       #9faca3
*.color14:      #9faca3

! white
*.color7:       #e0e0e0
*.color15:      #e0e0e0

urxvt*font: xft:t\ cherry:size=11
