<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="apps-accessories-menu" label="Accessories">
		<item label="Galculator">
			<action name="Execute">
				<execute>galculator</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-games-menu" label="Games">
		<item label="osu!">
			<action name="Execute">
				<execute>/opt/osu/osulauncher</execute>
			</action>
		</item>
		<item label="Terraria (Modded)">
			<action name="Execute">
				<execute>sh /home/george/Scripts/TerrariaModded.sh</execute>
			</action>
		</item>
		<item label="Terraria (Vanilla)">
			<action name="Execute">
				<execute>sh /home/george/Scripts/Terraria.sh</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-editors-menu" label="Editors">
		<item label="Nvim">
			<action name="Execute">
				<execute>mate-terminal --window --hide-menubar --profile=Fantasque -e nvim</execute>
			</action>
		</item>
		<item label="Pluma">
			<action name="Execute">
				<execute>pluma</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-term-menu" label="Terminals">
		<item label="Gnome Terminal">
			<action name="Execute">
				<execute>gnome-terminal --hide-menubar</execute>
			</action>
		</item>
		<item label="URxvt">
			<action name="Execute">
				<execute>urxvt</execute>
			</action>
		</item>
		<item label="Mate Terminal">
			<action name="Execute">
				<execute>mate-terminal --hide-menubar</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-net-menu" label="Internet">
		<item label="Discord">
			<action name="Execute">
				<execute>discord</execute>
			</action>
		</item>
		<item label="Firefox">
			<action name="Execute">
				<command>firefox</command>
				<startupnotify>
					<enabled>yes</enabled>
					<wmclass>Firefox</wmclass>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="apps-office-menu" label="Office">
		<item label="LibreOffice">
			<action name="Execute">
				<execute>libreoffice</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-multimedia-menu" label="Multimedia">
		<item label="Cmus">
			<action name="Execute">
				<execute>gnome-terminal --window --hide-menubar --profile=Fantasque -- cmus</execute>
			</action>
		</item>
		<item label="MPlayer">
			<action name="Execute">
				<command>gmplayer</command>
				<startupnotify>
					<enabled>yes</enabled>
					<wmclass>MPlayer</wmclass>
				</startupnotify>
			</action>
		</item>
		<item label="Totem">
			<action name="Execute">
				<command>totem</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="apps-fileman-menu" label="File Managers">
		<item label="Caja">
			<action name="Execute">
				<execute>caja</execute>
			</action>
		</item>
		<item label="Thunar">
			<action name="Execute">
				<command>Thunar</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="apps-graphics-menu" label="Graphics">
		<item label="Oomox">
			<action name="Execute">
				<execute>oomox-gui</execute>
			</action>
		</item>
		<item label="Gimp">
			<action name="Execute">
				<command>gimp</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Inkscape">
			<action name="Execute">
				<command>inkscape</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="system-menu" label="System">
		<item label="Openbox Appearance Manager">
			<action name="Execute">
				<execute>lxappearance</execute>
			</action>
		</item>
		<item label="Openbox Menu Editor">
			<action name="Execute">
				<execute>obmenu</execute>
			</action>
		</item>
		<item label="Openbox Configuration Manager">
			<action name="Execute">
				<command>obconf</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<separator/>
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<separator label="Applications"/>
		<menu id="apps-accessories-menu"/>
		<menu id="apps-editors-menu"/>
		<menu id="apps-games-menu"/>
		<menu id="apps-graphics-menu"/>
		<menu id="apps-net-menu"/>
		<menu id="apps-office-menu"/>
		<menu id="apps-multimedia-menu"/>
		<menu id="apps-term-menu"/>
		<menu id="apps-fileman-menu"/>
		<separator label="System"/>
		<menu id="system-menu"/>
		<separator/>
		<item label="Log Out">
			<action name="Exit">
				<prompt>yes</prompt>
			</action>
		</item>
	</menu>
</openbox_menu>
